<form action="changefleetname.php" method="post">
	<input type="hidden" name="token" value="{$token}"/>
<input type="text" name="new_name" value="{$fleetname}" />
<input type="submit" value="Changer"/>
</form>
